datadog:
  apiKeyExistingSecret: datadog-secret-eks
  clusterName: danny-eks-cluster
  kubelet:
    tlsVerify: false 
  logs:
    enabled: false
    containerCollectAll: false
  # containerCollectUsingFiles: true
  processAgent:
    enabled: true
    processCollection: true
  ## Enable apm agent and provide custom configs
  apm:
    socketEnabled: true
    # datadog.apm.portEnabled -- Enable APM over TCP communication (port 8126 by default)

    ## ref: https://docs.datadoghq.com/agent/kubernetes/apm/
    portEnabled: false

    port: 8126
    useSocketVolume: false
    socketPath: /var/run/datadog/apm.socket
    hostSocketPath: /var/run/datadog/

  # to collect k8s event - https://github.com/DataDog/helm-charts/blob/main/charts/datadog/values.yaml#L346-L378
  collectEvents: true

  remoteConfiguration:
    # datadog.remoteConfiguration.enabled -- Set to true to enable remote configuration.
    # Consider using remoteConfiguration.enabled instead
    enabled: true

  # kubeStateMetricsEnabled: true
  kubeStateMetricsCore:
    # datadog.kubeStateMetricsCore.enabled -- Enable the kubernetes_state_core check in the Cluster Agent (Requires Cluster Agent 1.12.0+)

    ## ref: https://docs.datadoghq.com/integrations/kubernetes_state_core
    enabled: true

  env:
    - name: DD_INVENTORIES_CONFIGURATION_ENABLED
      value: true
    # - name: DD_NODE_NAME
    #   valueFrom:
    #     fieldRef:
    #       apiVersion: v1
    #       fieldPath: spec.nodeName
    # - name: DD_HOSTNAME
    #   value: "$(DD_NODE_NAME)-$(DD_CLUSTER_NAME)"

  # clusterChecks:
  #   enabled: true
    # Ignoring problematic integrations in minikube
  
  ignoreAutoConfig:
    - etcd
    - kube_controller_manager
    - kube_scheduler

  # containerExclude: "kube_namespace:.*"
  # containerInclude: "name:container2-with-name kube_namespace:ns1-include-with-ns"

  # prometheusScrape:
  #   enabled: true
  #   serviceEndpoints: true

  # networkMonitoring:
    # enabled: true
  # confd:
  #   coredns.yaml: |-
  #     init_config:
  #     instances:
  #       - openmetrics_endpoint: http://%%host%%:9153/metrics
  #       - tags: [dns-pod:%%host%%]
# kubeStateMetricsCore:
  # enabled: true
  # useClusterCheckRunners: true

agents:
  image:
    tag: 7.63.3

clusterAgent:
  # clusterAgent.enabled -- Set this to false to disable Datadog Cluster Agent
  enabled: true

  # clusterAgent.token -- Cluster Agent token is a preshared key between node agents and cluster agent (autogenerated if empty, needs to be at least 32 characters a-zA-z)
  token: "rCsOmEUljkhdmclDMQBqbzXAaGHwLRKlMqawElgKjolVftZJckBomOgbzTRxwaCl"
  # Enable the Metrics Provider with DatadogMetrics CRD
  metricsProvider:
    enabled: false
    useDatadogMetrics: false
  admissionController:
    enabled: true
  # confd:
  #   kubernetes_state_core.yaml: |-
  #     init_config:
  #     instances:
  #       - 
  # confd:
  #   mysql.yaml: |-
  #     cluster_check: true
  #     init_config:
  #     instances:
  #       - dbm: true
  #         host: danny-mysql-eks.ckvbk70xefba.eu-north-1.rds.amazonaws.com
  #         password: ENC[k8s_secret@default/database-secret/password]
  #         port: 3306
  #         username: datadog
  # env:
  #   - name: DD_SECRET_BACKEND_SKIP_CHECKS
  #     value: true
# clusterChecksRunner:
#   enabled: true

